
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<div Align ="center" >
<body style="background-color:rosybrown;"></body>
<h1> <mark>Word COUNT!</mark></h1>


<a href ="{% url  'about' %}" class="text-danger">ABOUT</a> 
<br><br>

<form action="{% url 'count' %}"> 

    <textarea cols="40" rows="10" name="fulltext" placeholder="입력해주세요!"></textarea>
    <br><br>
    <input type="submit" value="Count!!" button type="button" class="btn btn-warning">
</form>
</div>

